a {
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  color: #3D8BE4;
}

span {
  margin: 0 5px;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}